@page "/DeleteContact/{CurrentId}"
@using ContactManagementSystem.Models
@using ContactManagementSystem.Services
@inject ContactService service
@inject NavigationManager NavigationManager

<div class="display-3">Delete Confirmation</div>
<hr/>
<br/>
<p><em>Are you sure you want to delete @contact.FirstName @contact.LastName?</em></p>

<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <label><strong>First Name:</strong></label>
            <label>@contact.FirstName</label>
        </div>
        <div class="form-group">
            <label><strong>Last Name:</strong></label>
            <label>@contact.LastName</label>
        </div>
        <div class="form-group">
            <label><strong>Phone Number:</strong></label>
            <label>@contact.PhoneNumber</label>
        </div>
        <div class="form-group">
            <label><strong>Birth Date:</strong></label>
            <label>@contact.BirthDate</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="submit" value="Cancel" class="btn btn-dark" @onclick="@Cancel" />
            <input type="submit" value="Delete" class="btn btn-danger" @onclick="@Delete" />
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string CurrentId { get; set; }
    ContactEntity contact = new ContactEntity();

    protected override async Task OnInitializedAsync()
    {
        contact = await Task.Run(() => service.Get(Guid.Parse(CurrentId)));
    }

    protected void Delete()
    {
        service.Delete(contact);
        NavigationManager.NavigateTo("");
    }
    protected void Cancel()
    {
        NavigationManager.NavigateTo("");
    }
}